code {
  counter-reset: step;
  counter-increment: step 0;

  background-color: var(--color-bg-alt);
}

code .line::before {
  display: inline-block;

  text-align: right;
  color: #f7f7f7;

  content: counter(step);
  counter-increment: step;

  width: 1rem;

  margin-right: 1.5rem;
  opacity: 0.25;
}

pre {
  /* In theory shiki will overwrite these, but this is to make sure there are defaults regardless */
  background-color: white;
  color: black;

  /* Give it some space to breathe */
  padding: 12px;

  margin-bottom: 3rem;

  /* Important to allow the code to move horizontally; */
  overflow-x: auto;
  position: relative;
  z-index: 1;
}
pre.shiki {
  position: relative;
  z-index: 1;
  overflow-x: auto;
  padding-bottom: 0;

  &:hover {
    .code-title {
      opacity: 0;
    }
  }
}

@media (hover: hover) {
  pre.shiki:hover .dim,
  pre.shiki:hover .line:empty {
    opacity: 1;

    transition: opacity 0.075s var(--ease-out-cubic);
  }

  pre.shiki div.dim,
  pre.shiki div.line:empty + div.line:empty,
  pre.shiki div.line.highlight + div.line:empty,
  pre.shiki div.line.dim + div.line:empty {
    opacity: 0.5;
  }
}

pre.shiki div.dim,
pre.shiki div.highlight {
  margin: 0;
  padding: 0;
}
pre.shiki div.highlight {
  opacity: 1;
  background-color: change-color($color: #f1f8ff, $lightness: 15%, $saturation: 25%);
}
pre.shiki div.line {
  min-width: 100%;
  min-height: 1rem;

  transition: opacity 0.4s var(--ease-out-cubic);
}

pre.shiki div.line > *::selection,
pre.shiki div.code-title::selection {
  background-color: change-color($color: #f1f8ff, $lightness: 20%, $saturation: 25%);
}

pre.shiki div.line:last-of-type {
  margin-bottom: 12px;
}

pre.shiki div.line.highlight::before {
  opacity: 0.75;
}

/** Don't show the language identifiers */
pre.shiki .language-id {
  display: none;
}

pre .code-container {
  display: grid;
  grid-template-columns: 1fr;

  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #0f1014;
  }

  &::-webkit-scrollbar-thumb {
    height: 10px;

    background: #4e4e4e;
    border-radius: 0.2rem;
  }
}

pre .code-title {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  isolation: isolate;

  font-size: 1rem;
  text-align: right;

  padding: 4px 9px;

  border-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: inherit;

  background-color: rgb(39, 39, 39);

  transition: opacity 0.3s var(--ease-out-cubic);

  @supports (backdrop-filter: blur(1px)) {
    background-color: rgba(152, 152, 166, 0.125);
    backdrop-filter: blur(2px);
  }

  &:hover {
    opacity: 1 !important;
  } 
}
