/* Sakura.css v1.4.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

:root {
  --color-blossom: #140b43;
  --color-fade: #423394;
  --color-bg: #ffffff;
  --color-bg-alt: #f7f7f7;
  --color-text: #121212;
  --font-size-base: 1.8rem;
  --font-family-base: 'Vercetti', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  --font-family-heading: 'IBM Plex Sans', var(--font-family-base);

  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --default-ease-with-timings: 0.3s var(--ease-out-cubic);

  @media (prefers-color-scheme: dark) {
    --color-blossom: #ffffff;
    --color-fade: #c9c9c9;
    --color-bg: #222222;
    --color-bg-alt: #4a4a4a;
    --color-text: #dbdbdb;
  }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

/* Body */
html {
  font-size: 62.5%; // So that root size becomes 10px
  font-family: var(--font-family-base);

  scroll-behavior: smooth;
}

body {
  // var(--font-size-base) must be a rem value
  font-size: var(--font-size-base);
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 13px;

  transition: color var(--default-ease-with-timings);

  @media (max-width: 760px) {
    font-size: calc(var(--font-size-base) * 0.95);

    padding-inline: 1.35em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  line-height: 1.1;
  font-family: var(--font-family-heading);
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  @include word-wrap;
}

h1 {
  font-size: 2.75em;

  margin-bottom: 4rem;

  mix-blend-mode: luminosity;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: var(--color-blossom);

  transition: border-color var(--default-ease-with-timings);
}

a {
  position: relative;
  z-index: 0;

  text-decoration: none;
  color: var(--color-blossom);

  background-image: linear-gradient(var(--color-text), var(--color-text));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;

  transition: color var(--default-ease-with-timings), background-size var(--default-ease-with-timings);

  &:is(:hover, :focus-visible) {
    color: var(--color-bg);

    background-size: 100% 100%;
  }
}

@for $i from 1 to 7 {
  h#{$i}:is(:hover, :focus-visible) > a[aria-hidden='true'] {
    opacity: 0.5;
  }

  h#{$i} a[aria-hidden='true'] {
    --offset-from-text: 0.25rem;

    position: absolute;
    right: calc(100% + var(--offset-from-text));
    top: 0;

    color: var(--color-text);

    opacity: 0;
    background-image: none;

    transition: opacity var(--default-ease-with-timings);

    &:is(:hover, :focus-visible) {
      color: var(--color-text);

      opacity: 1;
    }

    @media (max-width: 760px) {
      --offset-from-text: 0.1rem;

      font-size: 0.7em;

      padding-top: 0.55rem;
    }
  }
}

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid var(--color-blossom);
  margin-bottom: 2.5rem;
  background-color: var(--color-bg-alt);

  transition: background-color var(--default-ease-with-timings), border-left-color var(--default-ease-with-timings);

  mix-blend-mode: luminosity;
}

blockquote p {
  margin-bottom: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* Pre and Code */

pre {
  background-color: var(--color-bg-alt);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;

  transition: background-color var(--default-ease-with-timings);
}

code,
kbd,
samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: var(--color-bg-alt);
  white-space: pre-wrap;

  transition: background-color var(--default-ease-with-timings);
}

pre code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */

table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid var(--color-bg-alt);

  transition: border-bottom-color var(--default-ease-with-timings);
}

/* Buttons, forms and input */

input,
textarea {
  border: 1px solid var(--color-text);

  transition: border-color var(--default-ease-with-timings);

  &:focus {
    border: 1px solid var(--color-blossom);
  }
}

textarea {
  width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  background-color: var(--color-blossom);
  color: var(--color-bg);
  border-radius: 1px;
  border: 1px solid var(--color-blossom);
  cursor: pointer;
  box-sizing: border-box;

  transition: border-color var(--default-ease-with-timings), color var(--default-ease-with-timings), background-color var(--default-ease-with-timings),
    opacity var(--default-ease-with-timings), outline var(--default-ease-with-timings);

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &:focus:enabled,
  &:hover:enabled {
    background-color: var(--color-fade);
    border-color: var(--color-fade);
    color: var(--color-bg);
    outline: 0;
  }
}

textarea,
select,
input {
  color: var(--color-text);
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: var(--color-bg-alt);
  border: 1px solid var(--color-bg-alt);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;

  transition: border-color var(--default-ease-with-timings), color var(--default-ease-with-timings), background-color var(--default-ease-with-timings);

  &:focus {
    border: 1px solid var(--color-blossom);
    outline: 0;
  }
}

input[type='checkbox']:focus {
  outline: 1px dotted var(--color-blossom);
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
